.ordinary {
    margin-left: 50px;
}

p span {
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
}

.center {
    text-align: center;
}

span {
    color: red;
}

h3 {
    margin-left: 30px;
}

.element {
    list-style-type: none;
}

.element :before {
    content: "§ ";
}

a {
    text-decoration: none;
    color: black;
}