#P1 {
    font: 400 italic 18px/1.5 sans;
    color: tomato;
}

#P2 {
    font: 400 italic 14px/1.5 sans-serif;
    color: aqua;
}

#P3 {
    font: 400 italic 12px/1.5 fantasy;
    color: yellowgreen;
}